extends ../layout

block content
    a(href='/bicicletas/create') Create

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') # Model
                th(scope='col') # Ubication
                th(scope='col')
                th(scope='col')
        tbody
            each bici in bicis
                tr
                    th(scope='row')
                        = bici.code
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a(href='bicicletas/'+ bici.id + '/update') Actualizar
                    td  
                        form.inline-form(method='post', action='bicicletas/'+ bici.id + '/delete')
                            input(type='hidden', name='id', value=bici.id)
                            button.link-button(type='submit', name='submit_param', values='submit_value', class='btn btn-primary btn-sm')
                                = 'Eliminar'